@font-face {
    font-family: 'Legion';
    src: url("./assets/Hudson-NY/Hudson\ NY.otf");
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #01060a;
    font-family: 'Legion';
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.background{
    position: absolute;
    top: 5vh;
    left: 0;
    width: 100%;
    height: 100vw;
    z-index: -2;
}

.background-fade{
    position: absolute;
    top: 5vh;
    left: 0;
    width: 100%;
    height: 100vw;
    background: #01060A;
    background: linear-gradient(360deg, rgba(1, 6, 10, 1) 0%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 80%, rgba(1, 6, 10, 1) 100%);
    z-index: -1;
}

.title{
    text-align: center;
    color: #d7af36;
    letter-spacing: 2px;
    font-size: 8vw;
    margin-bottom: 4vw;
}

nav{
    display: flex;
    justify-content: space-around;
}

hr{
    color: #fffff41e;
    border-radius: 90%;
}

.nav-item{
    color: #fffff4;
    font-size: 2vw;
    margin-bottom: 0.4vw;
    transition: 0.2s;
}

.nav-item:hover{
    color: #d7af36;
    font-size: 2.1vw;
    margin-bottom: 0;
    text-shadow: 4px 4px #533900;
    cursor: pointer;
}

main{
    position: absolute;
    top: 70vw;
    left: 0;
    width: 100%;
}

.button-line{
    display: flex;
    justify-content: center;
    margin-bottom: 5vw;
}

.button-line .button{
    color: #fffff4;
    font-size: 1.8vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border:1px solid #fffff4;
    padding: 0.6vw 4vw;
    margin: 0 3vw;
    cursor: pointer;
    transition: 0.2s;
}

.button-line .button:hover{
    border-color: #d7af36;
    color: #d7af36;
}

.card-line{
    display: flex;
    justify-content: center;
    transition: 5s;
    position: relative;
}

.card-line .card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: calc(90vw / 5);
    height: 25vw;
    border: 1px solid #fffff4;
    border-radius: 1vw;
    margin: 2vw 2vw;
    padding: 1vw;
    z-index: 1;
    transition: width 0.5s ease;
    background-color: #01060A;
    position: relative;
    cursor: pointer;
}

.card-line .card img{
    height: 6vw;
    width: 6vw;
}

.card-line .card h4{
    color: #d7af36;
    font-size: 3vw;
    text-align: center;
    margin: 0;
}

.card-line .card p, .card-line .card ul{
    color: #fffff4;
    font-size: 1.5vw;
    text-align: center;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease 2s;
    text-align: justify;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card-line .card:active{
    z-index: 2;
}

.card-line .expandedCard{
    width: 80vw;
}

.card-line .expandedCard p{
    display: block;
    opacity: 1;
}

.card-line .expandedCard .closeBtn{
   display: block;
   height:fit-content
}

.closeBtn{
    position:absolute;
    top:0;
    right: 0;
    color: #fffff486;
    font-size: 2.4vw;
    cursor: pointer;
    padding: 0 1vw;
    display: none;
}

.modal-fade{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 900;
}

.modal{
    position: fixed;
    top: 10vh;
    left: 10vw;
    width: 80%;
    height: 80vh;
    border:2px solid #d7af36;
    background-color: #01060a;
    border-radius: 2vw;
    z-index: 1000;
}

.d-none{
    display: none;
}


